@use "../mixins.scss" as m;

html {
  body {
    .site-header {
      width: 100vw;
      color: m.$secondary;
      nav {
        display: grid;
        padding: 1rem 1rem;
        grid-template-columns: 1fr auto;
        align-items: center;
        background-color: m.$gradient-primary;
        background: m.$gradient-primary;
        align-content: flex-end;
      }

      .menu-toggle {
        width: 4rem;
      }

      .menu {
        @include m.flex_col;
        li {
          padding: 1em 0;
          &:first-of-type {
            padding-top: 2rem;
          }
        }

        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        height: 0;
        overflow: hidden;

        transition: height 0.5s ease;
      }

      h1 {
        @include m.heading-text;
      }

      @media (min-width: 768px) {
        nav {
          padding: 2rem;
        }
        .menu-toggle {
          display: none;
        }
        .menu {
          flex-direction: row;
          gap: 1.5em;
          height: auto;
          li {
            padding: 0;
            &:first-of-type {
              padding-top: unset;
            }
          }
        }
      }

      @media (min-width: 1024px) {
        nav {
          padding: 2rem 4rem;
        }
      }
    }
  }
}
