@use "../mixins.scss" as m;

html {
  body {
    .hero {
      background-size: cover;
      background-position: center;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 0;
      }
      .content {
        z-index: 1;
        @include m.flex_col;
        justify-content: center;
        gap: 2em;
        min-height: 60vh;
        margin: 4em 0em;
        padding: 1em;
        flex-grow: 0;
        backdrop-filter: blur(1px);

        border-radius: 5em;
        h2 {
          @include m.heading-large;
          color: m.$primary;
          max-width: 600px;
        }
        p {
          @include m.body-text;
          color: m.$background-light;
          max-width: 500px;
        }
        .btn {
          @include m.button;
          margin-right: auto;
          //   width: 300px;
        }
      }
    }
  }
}
