@use "../mixins.scss" as m;

html {
  body {
    .services {
      padding-bottom: 2rem;
      .service {
        &:last-of-type {
          .content {
            border: unset;
          }
        }
      }
      h2 {
        @include m.heading;
        color: m.$secondary;
        max-width: 600px;
        margin-bottom: 2rem;
        text-transform: capitalize;
      }
      .content {
        padding: 2rem 0;
        border-bottom: 2px solid m.$primary-dark;
        max-width: 1000px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
        @media (min-width: 600px) {
          grid-template-columns: 1fr 1fr;
        }
        @media (min-width: 768px) {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
      .card {
        &.title {
          background-color: m.$primary-dark;
          color: m.$text-primary;
          grid-column: 1 / span 2;
          h3 {
            @include m.subtitle-large;
            color: m.$text-primary;
            border-bottom: 2px solid m.$text-primary;
          }
        }

        box-shadow:
          0 1px 1px hsl(0deg 0% 0% / 0.075),
          0 2px 2px hsl(0deg 0% 0% / 0.075),
          0 4px 4px hsl(0deg 0% 0% / 0.075),
          0 8px 8px hsl(0deg 0% 0% / 0.075),
          0 16px 16px hsl(0deg 0% 0% / 0.075);
        border-radius: 1rem;
        padding: 2rem;
        @include m.flex_col;
        gap: 1rem;
        // justify-content: space-around;
        // min-height: 300px;
        p {
          @include m.body-text;
        }
        h3 {
          color: m.$primary-dark;
          @include m.subtitle;
          padding-bottom: 1rem;
          border-bottom: 2px solid m.$primary-dark;
        }
      }
    }
  }
}
