@use "./scss/mixins.scss" as m;

html {
  body {
    background-color: m.$background-light;
    font-family: m.$font-body;
    // color: m.$text-primary;
  }

  section {
    @include m.flex_col;
    @include m.flex_center;
    width: 100%;
    .content {
      width: 90%;
      max-width: 1000px;
    }
  }
}
